In [1]:
import pandas as pd

weather = pd.read_csv('weather_tidy.csv',delimiter=',',decimal=',');

weather.head()

         DATE   TMAX   TMIN
0  1955-04-01  310.0  150.0
1  1955-04-02  310.0  150.0
2  1955-04-03  310.0  160.0
3  1955-04-04  320.0  150.0
4  1955-04-05  330.0  160.0

In [2]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11945 entries, 0 to 11944
Data columns (total 3 columns):
DATE    11945 non-null object
TMAX    11085 non-null object
TMIN    11797 non-null object
dtypes: object(3)
memory usage: 280.0+ KB

In [3]:
weather.describe(include='all') #count, unique, top, freq

              DATE   TMAX   TMIN
count        11945  11085  11797
unique       11945    195    159
top     2000-12-02  260.0  160.0
freq             1   1176   1454

In [4]:
statistics = weather.describe()

statistics

              DATE   TMAX   TMIN
count        11945  11085  11797
unique       11945    195    159
top     2000-12-02  260.0  160.0
freq             1   1176   1454

In [5]:
weather.dropna().describe()

              DATE   TMAX   TMIN
count        10937  10937  10937
unique       10937    195    155
top     2000-12-02  260.0  160.0
freq             1   1171   1441

In [6]:
import plotly.express as px

fig_weather_Tmax = px.scatter(weather, x="DAY", y="TMAX",height=500, title="TMAX")
fig_weather_Tmax.show()

ModuleNotFoundError: No module named 'plotly'

In [ ]:
px.histogram(weather, x="TMAX").show()

In [7]:
statistics["TMAX"]

count     11085
unique      195
top       260.0
freq       1176
Name: TMAX, dtype: object

In [ ]:
fig_weather_Tmin = px.scatter(weather, x="DAY", y="TMIN",height=500, title="TMIN")
fig_weather_Tmin.show()

In [ ]:
px.histogram(weather, x="TMIN").show()

In [ ]:
statistics["TMIN"]

In [ ]:
import seaborn as sns

ax = sns.scatterplot(x="DAY", y="TMAX",data=weather)

In [ ]:
ax = sns.scatterplot(x="DAY", y="TMIN",data=weather)

In [ ]:
fig_weather_box=px.box(weather, x="TMIN", points='all', orientation='h')
fig_weather_box.show()

In [ ]:
fig_weather_box=px.box(weather, x="TMAX", points='all', orientation='h')
fig_weather_box.show()

In [ ]:
fig_weather_box=px.box(weather, x="DAY", points='all', orientation='h')
fig_weather_box.show()